* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
  border: 0;
}

p, li {
  font-size: 1.6em;
}

h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 2.4em;
}

h3 {
  font-size: 2.4em;
}

#header {
  margin: 10px 0 50px 0;
}

#menu {
  background-color: #bc0040;
  height: 50px;
  width: 100%;
}

#menu ul {
  margin: 0px auto;
  width: 96%;
  max-width: 1100px;
}

#menu li {
  display: inline;
  margin-right: 25px;
  list-style-type: none;
  line-height: 50px;
}

#menu a {
  color: #fff;
  text-decoration: none;
}

#main {}

#index {
  background-image: url('images/bg.PNG');
}
#footer {}

.content {
  max-width: 1100px;
  width: 96%;
  margin: 0px auto;
}

input, textarea {
  display: block;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 20px;
  min-width: 300px;
  max-width: 800px;
  font-size: 14pt;
  font-family: sans-serif;
}

input[type='submit'] {
  min-width: auto;
  font-size: 12pt;
}

.error {
  color: #e64812;
}

.error::before {
  content: " - ";
  color: #000;
}
